body {
	background-color: #252525;
	color: #ffffff;
	padding-top: 90px;
	margin-top: 0;
}

#main {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	top:30px;
	max-width: 1200px;
	padding-left:10px;
	padding-right:10px;
}

button {
	margin-top:20px;
}

#logo{
    width:70px;
    margin-top:-40px;
}

.searching{
    margin-top:7px;
    width:500px;
    margin-left:600px;
}

.navbar {
	margin-top: 0;
	border: 0;
	margin: 0;
}

.navbar-custom {
	width: 100%;
	margin: 0;
	border: 1px solid;
	border-radius: 0;
	color: #224444;
	background-color: #fff;
	padding-left: 30px;
	padding-right: 30px;
}

.navbar-custom .navbar-brand {
    color: #777;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #5E5E5E;
}

/* Link */
.navbar-custom .navbar-nav > li > a {
    color: #505050;
	font-size: 16px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #333;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #8f8f8f;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
	display:none
}

.navbar .nav.pull-right {
	float: right;
    margin-right: 0px;
}

.lower-btn {
	margin-top:20px;
	width: 100%;
}

.popover-content{
    color: #c81212;
}

.info-text{
    color: #9c9c9c;
	margin-bottom: 0;
}

.image-cont{
	margin-bottom: 25px;
}

.content-cont{
	width: 65%;
	margin: 0 auto;
	margin-bottom:20px;
}

.content-cont-sm{
	width: 35%;
	margin: 0 auto;
	margin-bottom:20px;
}

.upload-container {
	width: 100%;
	min-height: 200px;
	background-color: #252525;
	text-align: center;
	border: 4px dashed lightgray;
	border-radius: 4px;
	padding: 15px;
}

.upload-spacing-top {
	padding-top: 30px;
}

.btn-primary-outline {
  	background-color: transparent;
  	border-color: #ccc;
	text-decoration: none;
	color: #fff;
}

a.btn-primary-outline:hover {
	color: #aaaaaa;
}

.btn-group {
	margin-top: 15px;
	margin-bottom: 10px;
}

@media(max-width:767px){
	.content-cont{
		width: 90%;
	}
}

@media(max-width:992px){
	.content-cont-sm{
		width: 85%;
	}
}
