{%extends 'base.html'%}
{%block title%}Rules{%endblock%}
{%block body %}

<div class="content-cont">
	<div class="row">
		<h2>Rules</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<p> Tu-Gag users have to adhere to the following rules. If they do not, their profile will be deleted and Tu-Gag can allow this user to never register again.</p>

		<p> The most important rules of TU-Gag. </p>

		<ol>
			<li>No pornography: Pornographic or sexual contributions are not tolerated.</li>
			<li>No violence, gory and harmful content: Content or comments that lead to certain violent acts are immediately deleted.</li>
			<li>No illegal activities: Contributions or comments which lead to illegal activities are not permitted. TU-Gag can report this to law enforcement.</li>
			<li>No personal and confidential information: Do not post any personal information about other users to protect their privacy.</li>
			<li>No hate speech and bullying: It is not permissible to post contributions that can exclude or injure people (eg due to their origin, race, religion, age, nationality, etc.).</li>
			<li>No copyright and trademark infringement: If you post pictures you have not created yourself, you must inform yourself about copyrights and urgently contribute the source. But Tu-Gag should be unique, so users are asked to post their own original images.</li>
		</ol>
		<br>
		<p> Tu-Gag is meant to be a fun entertainment. If everyone sticks to our little rules, we can have a great side against boredom here. <br> Thank you</p>
	</div>
</div>


{%endblock%}