{% extends 'base.html' %}
{% block title %}Change your password{% endblock %}

{% block script %}
    {% if error_pwd %}
        <script>
            $(document).ready(function () {
                $('#PopPwdError').popover('show');
              });
        </script>
    {% elif error_new_pwd %}
        <script>
            $(document).ready(function () {
                $('#PopNewPwdError').popover('show');
              });
        </script>
    {% elif error_repeat_pwd %}
        <script>
            $(document).ready(function () {
                $('#PopRepeatPwdError').popover('show');
              });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    {% load static %}
    <div class="content-cont">
    <form action="{% url 'changepw' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <h2>Change your password</h2>
                <hr class="line"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="description">Old password</label>
                <a href="#" data-toggle="popover" id="PopPwdError" style="text-decoration: none;" data-placement="right" data-content="Password wrong." tabindex="-1">
                    <input type="password" class="form-control" name="old_pwd" maxlength="64" placeholder="Old Password">
                </a>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="description">New password</label>
                <a href="#" data-toggle="popover" id="PopNewPwdError" style="text-decoration: none;" data-placement="right" data-content="Password must be longer than 8 characters." tabindex="-1">
                    <input type="password" class="form-control" name="new_pwd" maxlength="64" placeholder="at least 9 characters.">
                </a>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="description">Repeat new password</label>
                <a href="#" data-toggle="popover" id="PopRepeatPwdError" style="text-decoration: none;" data-placement="right" data-content="Password does not match." tabindex="-1">
                    <input type="password" class="form-control" name="repeat_new_pwd" maxlength="64" placeholder="Repeat new Password">
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <a href={% url 'profile' %}><input type="button" class="btn btn-primary-outline redbutton pull-right" style="margin-left: 10px;" value="Cancel"></a>
            <div class="col">
                <button type="submit" class="btn btn-primary-outline bluebutton pull-right">Save</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}
