{% for post in all_posts %}
<div id="{{ forloop.counter }}" class="image-cont">
    <div class="row">
        <div class="col-md-12">
            <div class="title-container">
                <h3>{{ post.title }} <small class="pull-right content-title-subscript">uploaded by {{ post.uploaded_by }}, {{ post.upload_date }}</small></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hashtag-container">
                {% for tag in post.tags %}
                    <span class="hashtag-frame">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="image-container">
                <img src="{{ post.image.url }}" class="img-responsive line center-image">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="description-container">
                <p>{{ post.description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified" role="group">
                <a href="#" class="btn btn-primary-outline post-likes" data-post-id="{{ post.id }}"><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;<div class="like_live" style="display:inline;">{{ post.get_likes }}</div></a>
                <a href="{% url 'comment_on_item' post.id %}" class="btn btn-primary-outline">Comment</a>
                <a href="#" class="btn btn-primary-outline">Share</a>
                <a href="#" class="btn btn-primary-outline"><span class="glyphicon glyphicon-star"></span></a>
            </div>
            <div>
              <!--  <a href="#" class="btn btn-primary-outline btn-sm pull-right">View all comments</a>-->
            </div>

        </div>

    </div>

    <div class="row">
        {% for comment in post.comments.all %}
        <div class="col-md-12">
            <div class="comment-container">
               <p> <img src="{{ comment.author.user_profile.user_photo.url }}" class="img-circle" alt="Cinque Terre" width="45" height="45"> said at {{ comment.publication_date }}</p>
                <p>{{ comment.comment_text }}</p>
            </div>
        </div>
            {% endfor %}
    </div>


</div>
{% endfor %}
