{% extends 'base.html' %}
{% block title%}FAQ{% endblock %}
{% block body %}
    <div class="content-cont">
        <div class="row">
            <h2>FAQ - Frequently Asked Questions</h2>
            <hr class="line"/>
        </div>
    </div>
 <div class="row">
            <div class="col-md-8">
                <table>
   <tr>
    <th>Settings</th>
   </tr>
    <tr>
    <td><b>1. How can I get a profile?</b></td>
  </tr>
  <tr>
    <td><i>You must have a valid email address and then you can sign up for an account 
    <a href="{% url 'signup' %}" class="nav-link">here</a>.</i><br></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
    <tr>
    <td><b>2. How can I post a new picture?</b></td>
  </tr>
    <tr>
    <td><i>You should be registered and then you can create a post 
    <a href="{% url 'create_post' %}" class="nav-link">here</a>.</i><br></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
      <tr>
    <td><b>3. How can I change my password or my emailadress?</b></td>
  </tr>
    <tr>
    <td><i>When logged in, you can change it on your profile page.</i><br></td>
  </tr>
  <tr>
    <td><br><br><br></td>
  </tr>
  <tr>
    <th>Getting Started</th>
   </tr>
    <tr>
    <td><b>1. What does the tab "hot" mean?</b></td>
  </tr>
  <tr>
    <td><i>"Hot" gathers the posts that have received most the likes within in your network.</i><br></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
      <tr>
    <td><b>2. What are Likes and how can I like sometihng?</b></td>
  </tr>
  <tr>
    <td><i>Likes show how many people have pressed "like" on a certain post. You can like a post by clicking on the thumbs up symbol under the post.</i><br></td>
  </tr>
  <tr>
    <td><br><br><br></td>
  </tr>
  <tr>
    <th>About Us</th>
   </tr>
    <tr>
    <td><b>1. What is TU-Gag?</b></td>
  </tr>
  <tr>
    <td><i>TU-Gag is an open source platform which can be implemented by any organization who wishes to create their own verison of "9GAG" for their organization.</i><br></td>
  </tr>
  <tr>
    <td><br></td>
  </tr>
      <tr>
    <td><b>2. Who are behind TU-Gag?</b></td>
  </tr>
  <tr>
    <td><i>The creators of TU-Gag belong to a small project team of 10 students of the TU Berlin. The project started in Spring 2017 as a part of the module ProgrammierPraktikum - Soziale Netzwerke.</i><br></td>
  </tr>
  <tr>
    <td><br><br><br></td>
  </tr>
</table>
 </div>
{% endblock %}
