{% extends 'base.html' %}
{% block title%}myfavorites{% endblock %}
{% block favorites_active %}active{% endblock %}
{% block body %}
    <div class="content-cont">
        <div class="row">
            <h2>{{ request.user }}'s favorites</h2>
            <hr class="line"/>
        </div>
        {% include "content_items.html" %}
        {% if not user.favorite_set.all %}
        <H2>Oops, You don't have any Favorites </H2>
        Please visit <a href="{% url 'index' %}">our page</a> and favorite some memes
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(e) {
            $('.post-likes').click(function() {
                var id;
                id = $(this).attr('data-post-id');
                var proxy = $(this)
                $.get('/like-post/', {
                    post_id: id
                }, function(data) {
                    proxy.find('div').html(data);
                    // $('.XD').html(data);
                });
                return false;
            });

            $('.post-fav').click(function () {
                var id;
                id = $(this).attr('data-post-id');
                var proxy = $(this);
                $.get('/fav-post/', {
                    post_id: id
                }, function (data) {
                    var star = proxy.find('#toggle-star');
                    star.prop("checked", !star.prop("checked"));
                });
                return false;
            });

            $(document).keypress(function (e) {
                // submit comment form on ENTER (but not on SHIFT+ENTER -> \n)
                var tag = e.target.tagName.toLowerCase();
                if(e.which == 13 && !e.shiftKey && tag != 'input') {
                    // POST comment without reloading site (AJAX)
                    var el = e.target;
                    el = $(el);
                    var id;
                    id = el.attr('data-com-id');
                    var form = el.closest("form");
                    $.post('/comment/' + id, form.serialize(), function(data){
                        var obj = JSON.parse(JSON.stringify(data));
                        var newhtml = '<div class="col-md-12">';
                        newhtml += '<div class="comment-section-' + id + ' collapse in">';
                        newhtml += '<div class="panel panel-danger" style="border-radius: 10px;">';
                        newhtml += '<img src="' + "{{ user.profile.user_photo }}" + '" class="img-circle" alt="user" style="width:45px; height:45px; margin-top: 5px; margin-left: 5px;">';
                        newhtml += '<p class="info-text pull-right" style="display: inline; padding:8px;"><span class="glyphicon glyphicon-time"></span> &nbsp;0 minutes ago by ' + obj.auth + '<p>';
                        newhtml += '<div style="padding-left: 50px;"> <p style="overflow-wrap: break-word; text-align:left">' + obj.text + '</p></div>';
                        newhtml += '</div>';
                        newhtml += '</div>';
                        newhtml += '</div>';
                        var template = document.createElement('template');
                        template.innerHTML = newhtml;
                        el.parent().parent().next().prepend($(newhtml));
                    });
                    el.closest("textarea").val('');
                    return false;
                }
            });

            $('.upvotes').click(function () {
                var id;
                id = $(this).attr('data-comment-id');
                var proxy = $(this);
                $.get('/upvote_comment/', {
                    comment_id: id
                }, function (data) {
                    proxy.find('div').html(data);
                });
                return false;
            });
        });
    </script>
{% endblock %}
