{% extends 'base.html' %}
{% block title %}home{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div style="width: 650px;margin: 0 auto;">
            <h1>
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            </h1>
            <hr />
            {% for post in all_posts %}
                <div class="image-cont">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <img src="{{ post.image.url }}">
                    <p>{{ post.upload_date }} &nbsp;&nbsp; {{ post.uploaded_by }}</p>
                    <div>
                        <button class="btn btn-primary">like</button>
                        <button class="btn btn-info">comment</button>
                        <button class="btn btn-success">share</button>
                        <button class="btn btn-success">add to favorite</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Welcome to TUGag, a place of serious fun</h1>
    {% endif %}
{% endblock %}
