{% extends 'base.html' %}
{% block title%}myposts{% endblock %}
{% block posts_active %}active{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        <div class="content-cont">
            <div class="row">
                <h2>Your Uploads</h2>
                <hr class="line"/>
            </div>
            {% include "content_items.html" %}
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(e) {
            $('.post-likes').click(function() {
                var id;
                id = $(this).attr('data-post-id');
                var proxy = $(this)
                $.get('/like-post/', {
                    post_id: id
                }, function(data) {
                    proxy.find('div').html(data);
                    // $('.XD').html(data);
                });
                return false;
            });
        });
    </script>
{% endblock %}
