{% extends 'base.html' %}
{% block title%}myposts{% endblock %}
{% block posts_active %}active{% endblock %}
{% block body %}
        {% if user.is_authenticated %}
        <h1>You will be able to explore fun memes below</h1>

        {% for post in all_posts %}
            <div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
                <img src="{{ post.image.url }}">
                <p class="info-text">{{ post.upload_date }} &nbsp;&nbsp;</p>
                <p class="info-text"> uploaded by {{ post.uploaded_by }}</p>
                <div>
                    <button class="btn btn-primary">like</button>
                    <button class="btn btn-info">comment</button>
                    <button class="btn btn-success">share</button>
                    <button class="btn btn-success">add to favorite</button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Welcome to TUGag, a place of serious fun</h1>
    {% endif %}
{% endblock %}
