{% extends 'base.html' %}
{% block title%}Your Profile{% endblock %}

{% block body %}
        <div class="content-cont">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div style="margin: 0 auto;">
                            {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <h2 style="margin-bottom:40px"> {{ user.username }}'s Profile</h2>

                                <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}
                                    {% if form.errors %}
                                    <div class="alert alert-error">
                                        <ul>
                                            {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <a class="btn btn-primary bluebutton pull-right" href="{%  url 'profile' %}">Cancel</a>
                                        <button type="submit" class="btn btn-primary bluebutton pull-right">Save changes</button>
                                    </div>
                                </form>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
