{% extends 'base.html' %}
{% block title%}profile{% endblock %}

{% block style %}
<style>
    table {
        width: 50%;
    }

    td {
        padding-left: 5px;
        padding-bottom: 3px;
        font-size: large;
        height: 40px;
    }
</style>
{% endblock %}

{% block body %}
    <div class="content-cont">
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <h2 style="margin-bottom:40px">{{ request.user }}'s Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Personal Info:</td>
                        <td>{{ user.profile.personal_info }}</td>
                    </tr>
                    <tr>
                        <td>Job Title:</td>
                        <td>{{ user.profile.job_title }}</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>{{ user.profile.department }}</td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>{{ user.profile.location }}</td>
                    </tr>
                    <tr>
                        <td>Expertise:</td>
                        <td>{{ user.profile.expertise }}</td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td>{{ user.profile.phone_number }}</td>
                    </tr>
                    <tr>
                        <td>Contact Skype:</td>
                        <td>{{ user.profile.contact_skype }}</td>
                    </tr>
                    <tr>
                        <td>Contact Facebook:</td>
                        <td>{{ user.profile.contact_facebook }}</td>
                    </tr>
                    <tr>
                        <td>Contact Linkedin:</td>
                        <td>{{ user.profile.contact_linkedin }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <a href="{%  url 'profile_pic_edit' %}">
                    <img src="{{ user.profile.user_photo }}" class="profile-pic img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a class="btn btn-primary-outline pull-right bluebutton" href="{%  url 'changepw' %}">Change Password</a>
                <a class="btn btn-primary-outline pull-right bluebutton" href="{%  url 'profile_edit' %}">Edit Profile</a>
            </div>
        </div>
    {% else %}
        <h2>Please login to see your Profile</h2>
    {% endif %}
    </div>
{% endblock %}
