{% extends 'base.html' %}
{% block title%}signup{% endblock %}
{% block body %}
    <div class="content-cont-sm">
        <div class="row">
            <div class="col">
                <h1>Sign Up</h1>
            </div>
        </div>
		<form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
			<div class="form-group row">
                <div class="col">
    				<label for="user">Username</label>
                    <a href="#" data-toggle="popover" id="PopUserError" style="text-decoration: none;" data-placement="" {% if error_user %}data-content="{{ error_user }}"{% endif %} tabindex="-1">
    				    <input type="text" class="form-control" name="user" {% if error_pwd or error_email %}value="{{ name }}"{% endif %} maxlength="32" placeholder="max. 32 characters">
                    </a>
                </div>
			</div>
			<div class="form-group row">
                <div class="col">
    				<label for="email">Email Address</label>
                    <a href="#" data-toggle="popover" id="PopEmailError" style="text-decoration: none;" data-placement="right" {% if error_email %}data-content="{{ error_email }}"{% endif %} tabindex="-1">
                        <input type="text" class="form-control" name="email" {% if error_pwd %}value="{{ email }}"{% endif %} maxlength="64" placeholder="email@example.com">
                    </a>
                </div>
            </div>
			<div class="form-group row">
                <div class="col">
    				<label for="description">Password</label>
                    <a href="#" data-toggle="popover" id="PopPwdError" style="text-decoration: none;" data-placement="right" data-content="Password must be longer than 8 characters." tabindex="-1">
                        <input type="password" class="form-control" name="pwd" maxlength="64" placeholder="at least 8 characters">
                    </a>
                </div>
			</div>
            <div class="row">
                <div class="col">
        			<button type="submit" class="btn btn-primary lower-btn" style="width: 100%;" value="Submit">Sign Up</button>
                    <a href="{% url 'index' %}" class="btn btn-default lower-btn">Cancel</a>
                </div>
            </div>
		</form>
        <div class="row">
            <div class="col">
                <hr />
                <p  class="info-text">Already have an Account? <a href="{% url 'login_page' %}" style="color: #119df6">Click here</a> to login.</p>
            </div>
        </div>
	</div>
{% endblock %}
{% block script %}
    <script>
        function wheretoplace(){
            var width = window.innerWidth;
            if (width<768) return 'top';
            return 'right';
        }
    {% if error_user %}
        $(document).ready(function () {
            $('#PopUserError').popover({
                placement: wheretoplace
            });
            $('#PopUserError').popover('show');
          });
    {% elif error_email %}
        $(document).ready(function () {
            $('#PopEmailError').popover({
                placement: wheretoplace
            });
            $('#PopEmailError').popover('show');
          });
    {% elif error_pwd %}
        $(document).ready(function () {
            $('#PopPwdError').popover({
                placement: wheretoplace
            });
            $('#PopPwdError').popover('show');
          });
    {% endif %}
    </script>
{% endblock %}
        <
