{% extends 'base.html' %}
{% block title %} Your Profile {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <h3> {{ user.username }}'s Profile</h3>
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form-template.html' %}
                        <div class="form-group">
                                <button type = "submit" class="btn btn-success bk-bs-col-lg ">Submit!</button>
                                <a href={%  url 'profile' %}><input type="button" class = " col-sm-offset-6 btn btn-warning " name="cancel" value="Cancel" /></a>
                        </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}